body {    
    margin: 0 !important;
    padding: 0 !important;
}
a {
    text-decoration: none;
    color: grey;
}
.nav-menu{
    background-color: white;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 13%;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 75%;
    
}
.nav-menu-list li{
    padding: 0 15px;
}


.nav-menu-list{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 
  .part1{
    margin-left: 10%;
    margin-right: 10%;
  }
  .flex-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 5%;
      margin-top: 60px;
  }
  h1{
      color: #00B39B;
  }
  .flex-container1{
    display: flex;
   justify-content: space-between;
    align-items: center;
    margin-top: 5%;
   
}
.flex-container1 > p{
  width: 50%;
  height: 100px;
  font-size: 19px;
  border-style: solid;
  border-color: transparent;
  border-width: 30%;
  margin-bottom: 0;
  padding: 0;
  color: #747474;
}
.boxes{
    display: flex;
    justify-content: space-between;
     align-items: center;
     margin-top: 5%;
     margin-bottom: 5%;
     color: white;
  }
  .box1{
      height: 500px;
      width: 50%;
      background-color: #00CCB1;
      border-radius: 8px;
      margin-right: 3%;
      position: relative;
      overflow: hidden;
      padding-left: 1%;
      
  }
  .box2{
    height: 500px;
    width: 50%;
    background-color: #3D83DF;
    margin-left: 3%;
      border-radius: 8px;
      position: relative;
      overflow: hidden;
    
  }
  h2{
      padding-left: 30px;
      font-size: 15px;
      padding-bottom: 0;
  }
  .box1 > p{
      padding-left: 30px;
      padding-right: 40px;
      font-size: 35px;
      padding-top: 0;
  }
  .box2 > p{
    padding-left: 30px;
    padding-right: 40px;
    font-size: 35px;
}
  
 .figure > img{
    max-width: 100%;
      height: auto;
      position: absolute;
    left: 167px;
    bottom: -10px;
  }
  .select{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    outline: 0;
    border: 0;
    border-radius: 4px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #333;
    background: #fff;
    font-weight: 600;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    cursor: pointer;
  }
.select select{
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 3.5em 0 1.5em;
    height: 40px;
    -webkit-appearance: none;
    text-transform: uppercase;
    outline: 0;
  }
  .company{
    display: flex;
    flex-wrap: nowrap;

}
.par{
  width: 27%;
  font-size: 30px;
  height: 150px;
  border-style: solid;
  border-color: transparent;
  border-width: 30%;
  margin-bottom: 0;
  color: #00CCB1;
}
.svg {
    padding-top: 3%;
    padding-left: 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.part2{
    background-color: #DFF8F7;
    width: 100%;
    height: 700px;
    position: relative;
      overflow: hidden;
      display: flex;
      flex-wrap: nowrap;
}
.part2 > img {
  position: absolute;
  top: 400px;
  left: 100px;
  width: 456px;
  height: 435px;
}
.left-part{
padding-top: 8%;
padding-left: 5%;
padding-right: 8%;
}
.right-part{
    padding-left: 5%;
    padding-right: 5%;
    margin-right: 3%;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;

}
.spn{
    font-size: 40px;
    color: #00B39B;;
}
.left-part > p{
    padding-top: 5%;
    color: #C3C3C3;;
}
.coln1{
    padding-top: 13%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}
.coln2{
    padding-top: 10%;
    padding-bottom: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}
.bx{

    height: 260px;
    width: 230px;
    background-color: white;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
.bx > img{
    width: 20%;
    padding: 5%;
}
.title{
font-size: 30px;
color: #00CCB1 ;

}
.sub-title{
color:#C3C3C3 ;
}
.part1-one{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titre{
font-size: 40px;
color: #00CCB1;
margin: 0;
padding: 0;
}
.sous-titre{
    font-size: 20px;
    margin: 0;
    padding: 0;
    color:#C3C3C3 ;
}
.parg{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part1-two{
    display: flex;
    flex-direction: column;
}
.row1{
    padding-top: 8% ;
    display: flex;
    justify-content: space-between;
}
.row2{
    padding-top: 5% ;
    display: flex;
    justify-content: space-between;
}
.office{
    height: 350px ;
    width: 33.33%;
    background: #fff;
    border: 1px solid rgba(0,0,0,.03);
    border-radius: 6px;
    overflow: hidden;
    max-width: 311px;
    z-index: 2;
    position: relative;
    display: block;
    color: #747474;
}
.sous-img{
    display: flex;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}
.sous-img > p{
font-size: 23px;
}
.button{
    margin-top: 7%;
    border-radius: 4px;
    background: #3d83df;
    color: #fff; 
    text-align: center;
    height: 30px;
    font-size: 12px;
    padding-left: 5%;
    padding-right: 5%;
}
footer{
    border-top: 1px solid;
    border-color: rgba(0,0,0,.03) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    margin-top: 5%;
}
footer >p {
    display: flex;
    align-items: center;
    font-size: 13px;
    color: #747474  ;
}
.docplan{
    margin-top: 0;
    margin-bottom: 3%;
}
span{
    color: #3d83df;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 250px;
    height: 250px;
    left: -36px;
    
  }
  .dropdown-content li {
    color: grey;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content li:hover {background-color: #f1f1f1}
  
  .nav-menu-list > li:hover .dropdown-content {
    display: block;
  }
 .nav-menu-list > li > a:hover {
      color: #00B39B;
  }
  .dropdown-content > ul > li > a:hover{
    color: #00B39B;
  }
  .li{
      position: relative;
  }